.EndBody{
	height: 100%;
	background-color: black;
	width: 100%;
	margin: 0;
	padding: 0;
}
.Top15{
	display: flex;
	gap: 30px;
}
.LogoRebo{
    padding-top: 20px;
}
.LogoReboEnd{
	
	height: 15vh;
	width: 15vw;
	min-width: 100px;
}
