.TopBody{
	display: flex;
	flex-direction: column;
	background-image: url('../Figma Components/grupo-rebo-hero-1 1.png');
	background-size: cover; /* Hace que la imagen cubra toda la pantalla */
	background-position: center; /* Centra la imagen */
	background-repeat: no-repeat; /* Evita que la imagen se repita */
	height: 100vh; /* Asegura que la imagen ocupe el 100% de la altura */
	width: 100%;
	margin: 0;

}
.Top1{
	display: flex;

}
.LogoReboTop{
	padding-left: 100px;
	padding-top: 150px;
	margin: 0;
	cursor: pointer;
}
.Top2{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 100px;
	font-weight: bold;
	color: white;
	margin: 0;
}
.Top3{
	display: flex;
	flex-direction: row;
	gap: 50px;
	padding-top: 50px;
	padding-left: 100px;
}
