.FullBody {
	background-image: url('../Figma Components/grupo-rebo-hero-1 1.png');
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	margin: 0;
  }
  
  .LogoReboTop {
	max-width: 100%;
	height: auto;
	cursor: pointer;
	padding-left: 100px;
  }
  
  .TopBody {
	display: flex;
	flex-direction: column;
	height: 100%;
  }
  .Top2{
	height: 100px;
	opacity: 0.6;
  }