.FullBody{
	padding: 0;
}
.TopBody {
	position: relative; /* Asegura que el pseudo-elemento se posicione correctamente */
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
  }
  
  .TopBody::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('../Figma Components/grupo-rebo-hero-1 1.png');
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
	/*opacity: 0.6;  Aplica la opacidad solo al pseudo-elemento */
	z-index: -1; /* Asegúrate de que la imagen de fondo quede detrás del contenido */
  }
  
  .TopBody {
	display: flex;
	flex-direction: column;
	height: 767px;
	gap: 6vh;
	margin: 0;
  }
  .Top1{
	margin: 0;
	padding-top: 120px;
  }
  .LogoReboTop {
	padding-left: 100px;
	height: 10vh;
	cursor: pointer;
	
  }
  .Top2{
	object-fit: contain;
	height: 20vh;
	margin: 0%;
  }
  .h1{
	color: white;
	font-size: ;
  }

  .Top3{
	gap: 10px;
	padding-left: 100px;
	padding-left: 100px;
  }
  .col-12{
	margin: 0;
	padding: 0;
}
.MidBody{
	background-color: black;
}