.ContactButton{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 650px;
    height: 70px;
    border-radius: 35px;
    border: none;
    background-color: rgb(117, 23, 40);
    cursor: pointer;
   

}
.ContactButton:hover{
    background-color: rgb(255, 255, 255);
    border-color: rgb(117, 23, 40);
    border-style: solid;
}
.ContactButton:active{
    opacity: 0.7;

}
.ButtonInformation{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
}
.Icon{
    width: 60px;
    padding-top: 5px;
    padding-left: 20px;
}
.IconText{
    display: flex;
}
.Paragraph{
    font-size: 50px;
    color: black;
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 0;
    padding-left: 10px;
}
.GeneralLink{
    text-decoration: none;
}