.ContactButton{
    background: none;
    border: none;
    width: 250px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;

}
.ContactButton:hover {
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
}

.Paragraph{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}