.ContactButton{
    background: none;
    border: none;
    width: fit-content;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;

}
.ContactButton:hover {
    
    opacity: 0.6;
}
.GeneralLink{
    text-decoration: none;
}
.Paragraph{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 0;
}