.ContactInfo {
    height: 6vh;
    background-color: rgba(33, 33, 26, 1);
}

.LogoContainer {
    
    height: 15vh;
    background: linear-gradient(90deg, rgba(217, 28, 28, 1) 0%, rgba(153, 0, 0, 1) 50%);
}

.Logo {
    padding-left: 10vw;
    height: 9vh;
}

.ButtonContainer {
    align-items: center;
}