.header-container{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 50px;
}
.right-buttons{
    display: flex;
    flex-direction: row;
    padding-left: 400px;
    gap: 30px;
}
.left-button{
    width: 300px;
    
}
.BodyIcon{
    display: flex;
    align-items: end;
}